<h3> Login!</h3>
{{#if loginFormOpen}}
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      {{input value=username id="username" type="username"}}
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      {{input value=password id="password" type="password"}}
    </div>

    <button class="btn btn-info" {{action 'login'}}>Login</button>
    <button class="btn btn-warning" {{action 'hideLoginForm'}}>Hide Login Form</button>
  </form>
{{else}}
  <button class="btn btn-info" {{action 'showLoginForm'}}>Show Login Form</button>
{{/if}}
