{{#if addNewPost}}
<div class="newPost">
<h1>New Post</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        {{input value=content id="content"}}
      </div>
      <button type="button" class="btn btn-default btn-lg" {{action 'savePost'}}>Save</button>
    </form>
  </div>
</div>
{{else}}
  <button type="button" id="newPostBtn" class="btn btn-default btn-lg" {{action 'postFormShow'}}>New Post</button>
{{/if}}
