{{post.author}}
{{post.content}}

{{update-post update="update" post=post}}
<button class="btn btn-danger" {{action 'delete' post}}>Delete</button>

{{new-reply post=post saveReply="saveReply"}}

{{#each post.replies as |reply|}}
  {{reply-tile reply=reply deleteReply="deleteReply"}}
{{/each}}
