<div class="well postwell">
  <h3><b>{{post.author}}</b> asks...
    <p></p>{{post.title}}</h3><br />
  <h4>{{post.content}}</h4>
</div>

<div class='button-row'>
  <div class='button-cell'>
    {{update-post update="update" post=post}}
  </div>
  <div class='button-cell'>
    <button class="btn btn-default" {{action 'delete' post}}>Delete</button>
  </div>
  <div class='button-cell'>
    {{new-reply post=post saveReply="saveReply"}}
  </div>
</div>
{{#each post.replies as |reply|}}
<div class="panel">
  {{reply-tile reply=reply deleteReply="deleteReply"}}
</div>
{{/each}}
