{{#if signupFormOpen}}
  {{#modal-dialog
                  translucentOverlay=true}}
    <h4>Select a username, password, and avatar for the WILDLIFE TRACKER.</h4>
    <form>
      <div class="signupForm">
      <div class="form-group">
        <label for="newUsername">Username</label>
        {{input value=newUsername id="newUsername"}}
      </div>
      <div class="form-group">
        <label for="newPassword">Password</label>
        {{input value=newPassword id="newPassword" type="password"}}
      </div>
      <div class="form-group">
        <label for="newAvatar">Avatar url</label>
        {{input value=newAvatar id="newAvatar"}}
      </div>
      <button class="btn btn-info"  {{action 'saveUser'}}>Sign up!</button>
      <button class="btn btn-warning" {{action 'hideSignupForm'}}>Hide Signup Form</button>
    </div>
    </form>
  {{/modal-dialog}}
{{else}}
  <button class="btn btn-info"id="signupbtn"{{action 'showSingupForm'}}>Show Signup Form</button>
{{/if}}
